In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

C:\Users\Administrator\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Administrator\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [4]:
weather = pd.read_csv(r"E:\Download\2019机器学习sklearn课堂\weatherAUS5000.csv")

In [5]:
weather.head()

,Unnamed: 0,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainTomorrow
0,0,2015-03-24,Adelaide,12.3,19.3,0.0,5.0,NaN,S,39.0,...,19.0,59.0,47.0,1022.2,1021.4,NaN,NaN,15.1,17.7,No
1,1,2011-07-12,Adelaide,7.9,11.4,0.0,1.0,0.5,N,20.0,...,7.0,70.0,59.0,1028.7,1025.7,NaN,NaN,8.4,11.3,No
2,2,2010-02-08,Adelaide,24.0,38.1,0.0,23.4,13.0,SE,39.0,...,19.0,36.0,24.0,1018.0,1016.0,NaN,NaN,32.4,37.4,No
3,3,2016-09-19,Adelaide,6.7,16.4,0.4,NaN,NaN,N,31.0,...,15.0,65.0,40.0,1014.4,1010.0,NaN,NaN,11.2,15.9,No
4,4,2014-03-05,Adelaide,16.7,24.8,0.0,6.6,11.7,S,37.0,...,24.0,61.0,48.0,1019.3,1018.9,NaN,NaN,20.8,23.7,No

In [7]:
x = weather.iloc[:, :-1]
y = weatheriloc[:, -1]

In [8]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 22 columns):
Unnamed: 0       5000 non-null int64
Date             5000 non-null object
Location         5000 non-null object
MinTemp          4979 non-null float64
MaxTemp          4987 non-null float64
Rainfall         4950 non-null float64
Evaporation      2841 non-null float64
Sunshine         2571 non-null float64
WindGustDir      4669 non-null object
WindGustSpeed    4669 non-null float64
WindDir9am       4651 non-null object
WindDir3pm       4887 non-null object
WindSpeed9am     4949 non-null float64
WindSpeed3pm     4919 non-null float64
Humidity9am      4936 non-null float64
Humidity3pm      4880 non-null float64
Pressure9am      4506 non-null float64
Pressure3pm      4504 non-null float64
Cloud9am         3111 non-null float64
Cloud3pm         3012 non-null float64
Temp9am          4967 non-null float64
Temp3pm          4912 non-null float64
dtypes: float64(16), int64(1), object(5)
memory usage: 859.5+ KB

In [10]:
x.isnull().mean() #缺失值所占的比例

Unnamed: 0       0.0000
Date             0.0000
Location         0.0000
MinTemp          0.0042
MaxTemp          0.0026
Rainfall         0.0100
Evaporation      0.4318
Sunshine         0.4858
WindGustDir      0.0662
WindGustSpeed    0.0662
WindDir9am       0.0698
WindDir3pm       0.0226
WindSpeed9am     0.0102
WindSpeed3pm     0.0162
Humidity9am      0.0128
Humidity3pm      0.0240
Pressure9am      0.0988
Pressure3pm      0.0992
Cloud9am         0.3778
Cloud3pm         0.3976
Temp9am          0.0066
Temp3pm          0.0176
dtype: float64

In [11]:
np.unique(y)

array(['No', 'Yes'], dtype=object)

In [12]:
#ESC b 下方添加一个cell a则是上方添加

In [13]:
y.isnull().sum()

0

## 划分测试集训练集
应当先分集再做预处理

In [14]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=.3, random_state=420)

In [15]:
for i in [xtrain, xtest, ytrain, ytest]:
    i.index = range(i.shape[0])

### 探索处理样本不均衡问题

In [17]:
ytrain.value_counts()

No     2704
Yes     796
Name: RainTomorrow, dtype: int64

### 将标签编码

In [18]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder().fit(ytrain)

In [20]:
#对标签进行编码
ytrain = pd.DataFrame(encoder.transform(ytrain))
ytest = pd.DataFrame(encoder.transform(ytest))

### 处理特征矩阵
是否有异常， 偏态

In [22]:
xtrain.describe([.01, .05,.1, .25, .5, .75, .9, .99]).T

,count,mean,std,min,1%,5%,10%,25%,50%,75%,90%,99%,max
Unnamed: 0,3500.0,2494.137429,1439.923727,0.0,41.980,250.950,499.9,1253.75,2494.5,3744.5,4475.1,4948.010,4996.0
MinTemp,3486.0,12.225645,6.396243,-6.5,-1.715,1.800,4.1,7.70,12.0,16.7,20.9,25.900,29.0
MaxTemp,3489.0,23.245543,7.201839,-3.7,8.888,12.840,14.5,18.00,22.5,28.4,33.0,40.400,46.4
Rainfall,3467.0,2.487049,7.949686,0.0,0.000,0.000,0.0,0.00,0.0,0.8,6.6,41.272,115.8
Evaporation,1983.0,5.619163,4.383098,0.0,0.400,0.800,1.4,2.60,4.8,7.4,10.2,20.600,56.0
Sunshine,1790.0,7.508659,3.805841,0.0,0.000,0.345,1.4,4.60,8.3,10.6,12.0,13.300,13.9
WindGustSpeed,3263.0,39.858413,13.219607,9.0,15.000,20.000,24.0,31.00,39.0,48.0,57.0,76.000,117.0
WindSpeed9am,3466.0,14.046163,8.670472,0.0,0.000,0.000,4.0,7.00,13.0,19.0,26.0,37.000,65.0
WindSpeed3pm,3437.0,18.553390,8.611818,0.0,2.000,6.000,7.0,13.00,19.0,24.0,30.0,43.000,65.0
Humidity9am,3459.0,69.069095,18.787698,2.0,18.000,35.000,45.0,57.00,70.0,83.0,94.0,100.000,100.0
Humidity3pm,3408.0,51.651995,20.697872,2.0,9.000,17.000,23.0,37.00,52.0,66.0,79.0,98.000,100.0
Pressure9am,3154.0,1017.622067,7.065236,985.1,1000.506,1006.100,1008.9,1012.80,1017.6,1022.3,1027.0,1033.247,1038.1
Pressure3pm,3154.0,1015.227077,7.032531,980.2,998.000,1004.000,1006.5,1010.30,1015.2,1020.0,1024.4,1030.800,1036.0
Cloud9am,2171.0,4.491939,2.858781,0.0,0.000,0.000,1.0,1.00,5.0,7.0,8.0,8.000,8.0
Cloud3pm,2095.0,4.603819,2.655765,0.0,0.000,0.000,1.0,2.00,5.0,7.0,8.0,8.000,8.0
Temp9am,3481.0,16.989859,6.537552,-5.2,2.400,7.000,9.0,12.20,16.6,21.6,26.0,31.000,38.0
Temp3pm,3431.0,21.719003,7.031199,-4.1,7.460,11.500,13.3,16.60,21.0,26.6,31.4,38.600,45.9

In [24]:
#对于异常值，若是出现一次，则删去，多次，则需再考虑，占到总数据大部分，则
#替换成非异常，非干扰项，或者当作缺失值处理

### 处理困难特征：日期

In [28]:
type(xtrain.iloc[0, 1])#日期输入分类变量

str

In [31]:
value_date = xtrain.iloc[:, 1].value_counts()#日期是重复变量

In [33]:
xtrain.iloc[:, 1].value_counts().count()#共有多少类别日期

2141

In [34]:
#查看以地点排序
xtrainl = xtrain.copy()
xtrainl.sort_values(by="Location")

,Unnamed: 0,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
2796,0,2015-03-24,Adelaide,12.3,19.3,0.0,5.0,NaN,S,39.0,...,13.0,19.0,59.0,47.0,1022.2,1021.4,NaN,NaN,15.1,17.7
2975,32,2012-08-17,Adelaide,7.8,13.2,17.6,0.8,NaN,SW,61.0,...,20.0,28.0,76.0,47.0,1012.5,1014.7,NaN,NaN,8.3,12.5
775,86,2013-03-16,Adelaide,17.4,23.8,NaN,NaN,9.7,SSE,46.0,...,9.0,19.0,63.0,57.0,1019.9,1020.5,NaN,NaN,19.1,20.7
861,1,2011-07-12,Adelaide,7.9,11.4,0.0,1.0,0.5,N,20.0,...,7.0,7.0,70.0,59.0,1028.7,1025.7,NaN,NaN,8.4,11.3
2906,28,2015-08-24,Adelaide,9.2,14.3,0.0,NaN,NaN,SE,48.0,...,17.0,19.0,64.0,42.0,1024.7,1024.1,NaN,NaN,9.9,13.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2223,4952,2009-05-08,Woomera,9.2,20.6,0.0,5.2,10.4,ESE,37.0,...,19.0,19.0,64.0,34.0,1030.5,1026.9,0.0,1.0,13.7,20.1
1984,4990,2014-05-26,Woomera,15.5,23.6,0.0,24.0,NaN,NNW,43.0,...,9.0,26.0,49.0,37.0,1014.2,1010.3,7.0,7.0,18.0,21.5
1592,4943,2012-01-10,Woomera,16.8,26.7,0.0,10.0,5.3,SW,46.0,...,20.0,22.0,52.0,33.0,1019.1,1016.8,4.0,6.0,18.3,24.9
2824,4933,2015-11-03,Woomera,16.2,28.5,7.8,4.2,4.5,WSW,80.0,...,26.0,50.0,76.0,53.0,1009.6,1006.8,6.0,7.0,20.5,26.2
1005,4991,2010-05-14,Woomera,3.9,19.3,0.0,5.8,10.5,NE,33.0,...,15.0,13.0,43.0,19.0,1020.2,1016.4,1.0,1.0,11.5,18.5

In [42]:
xtrain.Rainfall.isnull().sum()

33

In [36]:
xtrain.loc[xtrain['Rainfall']>1, 'RainToday'] = "Yes"
xtrain.loc[xtrain['Rainfall']<1, 'RainToday'] = "No"
xtrain.loc[xtrain['Rainfall']==np.nan, 'RainToday'] = np.nan

C:\Users\Administrator\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\Administrator\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [41]:
xtest.loc[xtest['Rainfall']>1, 'RainToday'] = "Yes"
xtest.loc[xtest['Rainfall']<1, 'RainToday'] = "No"
xtest.loc[xtest['Rainfall']==np.nan, 'RainToday'] = np.nan

C:\Users\Administrator\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\Administrator\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [52]:
#月份对于是否下雨也存在影响，是否进入了梅雨季节
xtrainl.Date[0].split("-")[1]

'08'

In [49]:
xtrain.Date = xtrain.Date.apply(lambda x: int(x.split("-")[1]))

C:\Users\Administrator\AppData\Roaming\Python\Python37\site-packages\pandas\core\generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [53]:
#修改列表的名字
xtrain = xtrain.rename(columns={"Date":"Month"})

In [55]:
xtest.Date = xtest.Date.apply(lambda x: int(x.split("-")[1]))
xtest = xtest.rename(columns={"Date":"Month"})

C:\Users\Administrator\AppData\Roaming\Python\Python37\site-packages\pandas\core\generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,Unnamed: 0,Month,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,2773,1,NorahHead,22.0,27.8,25.2,NaN,NaN,SSW,57.0,...,37.0,91.0,86.0,1006.6,1008.1,NaN,NaN,26.2,23.1,Yes
1,2361,3,MountGambier,12.0,18.6,2.2,3.0,7.8,SW,52.0,...,28.0,88.0,62.0,1020.2,1019.9,8.0,7.0,14.8,17.5,Yes
2,2425,3,MountGinini,9.1,13.3,NaN,NaN,NaN,NE,41.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4782,10,Wollongong,13.1,20.3,0.0,NaN,NaN,SW,33.0,...,24.0,40.0,51.0,1021.3,1019.5,NaN,NaN,16.8,19.6,No
4,3565,11,Sale,12.2,20.0,0.4,NaN,NaN,E,33.0,...,19.0,92.0,69.0,1015.6,1013.2,8.0,4.0,13.6,19.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,215,5,Albury,9.1,15.8,11.2,NaN,NaN,WNW,30.0,...,13.0,100.0,64.0,1022.6,1021.8,1.0,7.0,11.0,14.0,Yes
1496,4215,5,Uluru,9.6,21.1,0.0,NaN,NaN,E,26.0,...,4.0,36.0,23.0,1023.2,1020.9,8.0,8.0,14.2,20.3,No
1497,3754,11,SalmonGums,5.5,25.9,0.0,NaN,NaN,S,43.0,...,17.0,44.0,25.0,NaN,NaN,NaN,NaN,18.4,24.9,No
1498,4328,8,WaggaWagga,2.6,15.4,0.0,1.6,5.2,NW,41.0,...,24.0,79.0,54.0,1015.9,1011.5,6.0,5.0,8.1,13.3,No
1499,3455,5,Portland,7.8,17.6,0.0,3.6,0.6,N,41.0,...,22.0,57.0,84.0,1015.8,1015.4,7.0,8.0,15.1,14.4,No

### 处理困难特征：地点

In [58]:
xtrain.Location.value_counts().count()

49

In [69]:
#将地区转换成气候，从而判断对明日是否下雨
#读出城市以及对应经纬度
cityll = pd.read_csv(r"E:\Download\2019机器学习sklearn课堂\cityll.csv")
city_cl = pd.read_csv(r"E:\Download\2019机器学习sklearn课堂\Cityclimate.csv")

In [74]:
cityll

    Unnamed: 0          City  Latitude  Longitude Latitudedir Longitudedir
0            0      Adelaide   34.9285   138.6007          S,            E
1            1        Albany   35.0275   117.8840          S,            E
2            2        Albury   36.0737   146.9135          S,            E
3            3       Wodonga   36.1241   146.8818          S,            E
4            4  AliceSprings   23.6980   133.8807          S,            E
..         ...           ...       ...        ...         ...          ...
95          95    Wollongong   34.4278   150.8931          S,            E
96          96       Wyndham   15.4825   128.1228          S,            E
97          97        Yalgoo   28.3445   116.6851          S,            E
98          98        Yulara   25.2335   130.9849          S,            E
99          99         Uluru   25.3444   131.0369          S,            E

[100 rows x 6 columns]

In [70]:
cityll.Latitude = cityll.Latitude.apply(lambda x : float(x[:-1]))
cityll.Longitude = cityll.Longitude.apply(lambda x : float(x[:-1]))

In [75]:
citylld = cityll.iloc[:, [1, 2, 3]]
citylld["climate"] = city_cl.Climate

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [77]:
citylld.climate.value_counts()

Hot dry summer, cool winter          24
Hot dry summer, warm winter          18
Warm temperate                       18
High humidity summer, warm winter    17
Cool temperate                        9
Mild temperate                        9
Warm humid summer, mild winter        5
Name: climate, dtype: int64

In [78]:
#样本城市的经纬度
samplecity = pd.read_csv(r"E:\Download\2019机器学习sklearn课堂\samplecity.csv")

In [82]:
samplecity.Latitude = samplecity.Latitude.apply(lambda x:float(x[:-1]))
samplecity.Longitude = samplecity.Longitude.apply(lambda x:float(x[:-1]))

In [83]:
samplecity.head()

   Unnamed: 0      City  Latitude  Longitude Latitudedir Longitudedir
0           0  Canberra   35.2809   149.1300          S,            E
1           1    Sydney   33.8688   151.2093          S,            E
2           2     Perth   31.9505   115.8605          S,            E
3           3    Darwin   12.4634   130.8456          S,            E
4           4    Hobart   42.8821   147.3272          S,            E

In [85]:
samplecityd = samplecity.iloc[:, [1, 2, 3]]

In [92]:
#选取离城市最近的气象站的气候作为城市的气候
#计算两地点之间的距离
from math import radians, sin, cos, acos#radians 角度转换成弧度

In [89]:
citylld.loc[:, "slat"] = citylld.iloc[:, 1].apply(lambda x : radians(x))
citylld.loc[:, "slon"] = citylld.iloc[:, 2].apply(lambda x : radians(x))
samplecityd.loc[:, "slat"] = samplecityd.iloc[:, 1].apply(lambda x : radians(x))
samplecityd.loc[:, "elon"] = samplecityd.iloc[:, 2].apply(lambda x : radians(x))

C:\Users\Administrator\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\Administrator\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [91]:
citylld.head()

,City,Latitude,Longitude,climate,slat,slon
0,Adelaide,34.9285,138.6007,Warm temperate,0.609617,2.419039
1,Albany,35.0275,117.8840,Mild temperate,0.611345,2.057464
2,Albury,36.0737,146.9135,"Hot dry summer, cool winter",0.629605,2.564124
3,Wodonga,36.1241,146.8818,"Hot dry summer, cool winter",0.630484,2.563571
4,AliceSprings,23.6980,133.8807,"Hot dry summer, warm winter",0.413608,2.336659

In [93]:
import sys
for i in range(samplecityd.shape[0]):
    slat = citylld.slat
    slon = citylld.slon
    elat = samplecityd.loc[i, "slat"]
    elon = samplecityd.loc[i, "elon"]
    dist = 6371.01 * np.arccos(np.sin(slat)*np.sin(elat) + 
                    np.cos(slat)*np.cos(elat)*np.cos(slon.values - elon))
    city_index = np.argsort(dist)[0]
    samplecityd.loc[i, "closest_city"] = citylld.loc[city_index, "City"]
    samplecityd.loc[i, "climate"] = citylld.loc[city_index, "climate"]

C:\Users\Administrator\AppData\Roaming\Python\Python37\site-packages\pandas\core\series.py:856: RuntimeWarning: invalid value encountered in arccos
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [94]:
samplecityd.head()

,City,Latitude,Longitude,slat,elon,closest_city,climate
0,Canberra,35.2809,149.1300,0.615768,2.602810,Canberra,Cool temperate
1,Sydney,33.8688,151.2093,0.591122,2.639100,Sydney,Warm temperate
2,Perth,31.9505,115.8605,0.557641,2.022147,Perth,Warm temperate
3,Darwin,12.4634,130.8456,0.217527,2.283687,Darwin,"High humidity summer, warm winter"
4,Hobart,42.8821,147.3272,0.748434,2.571345,Hobart,Cool temperate

In [95]:
samplecityd.climate.value_counts()

Warm temperate                       15
Mild temperate                       10
Cool temperate                        9
Hot dry summer, cool winter           6
High humidity summer, warm winter     4
Hot dry summer, warm winter           3
Warm humid summer, mild winter        2
Name: climate, dtype: int64

In [96]:
#当地的气候
localfinal = samplecityd.iloc[:, [0, -1]]

In [99]:
localfinal = localfinal.rename(columns={"City": "Location"})

In [101]:
#将localfinal的Location作为索引，方便map匹配
localfinal = localfinal.set_index(keys="Location")
localfinal.head()

                                    climate
Location
Canberra                  Cool temperate
Sydney                    Warm temperate
Perth                     Warm temperate
Darwin    High humidity summer, warm winter
Hobart                    Cool temperate

In [105]:
import re
xtrain.Location = xtrain.Location.map(localfinal.iloc[:, 0]).apply(lambda x : re.sub(",","",x.strip()))
xtest.Location = xtest.Location.map(localfinal.iloc[:, 0]).apply(lambda x : re.sub(",", "",x.strip()))

In [108]:
xtrain = xtrain.rename(columns={"Location" : "Climate"})
xtest = xtest.rename(columns={"Location" : "Climate"})

In [109]:
xtrain.head()

,Unnamed: 0,Month,Climate,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,1809,8,High humidity summer warm winter,17.5,36.0,0.0,8.8,NaN,ESE,26.0,...,15.0,57.0,NaN,1016.8,1012.2,0.0,NaN,27.5,NaN,No
1,4176,12,Cool temperate,9.5,25.0,0.0,NaN,NaN,NNW,33.0,...,17.0,59.0,31.0,1020.4,1017.5,NaN,NaN,14.6,23.6,No
2,110,4,Mild temperate,13.0,22.6,0.0,3.8,10.4,NaN,NaN,...,31.0,79.0,68.0,1020.3,1015.7,1.0,3.0,17.5,20.8,No
3,3582,11,Mild temperate,13.9,29.8,0.0,5.8,5.1,S,37.0,...,28.0,82.0,44.0,1012.5,1005.9,6.0,6.0,18.5,27.5,No
4,2162,4,Hot dry summer cool winter,6.0,23.5,0.0,2.8,8.6,NNE,24.0,...,15.0,58.0,35.0,1019.8,1014.1,2.0,4.0,12.4,22.4,No

### 处理分类型变量：缺失值

In [111]:
#查看缺失值的缺失情况
xtrain.isnull().mean()

Unnamed: 0       0.000000
Month            0.000000
Climate          0.000000
MinTemp          0.004000
MaxTemp          0.003143
Rainfall         0.009429
Evaporation      0.433429
Sunshine         0.488571
WindGustDir      0.067714
WindGustSpeed    0.067714
WindDir9am       0.067429
WindDir3pm       0.024286
WindSpeed9am     0.009714
WindSpeed3pm     0.018000
Humidity9am      0.011714
Humidity3pm      0.026286
Pressure9am      0.098857
Pressure3pm      0.098857
Cloud9am         0.379714
Cloud3pm         0.401429
Temp9am          0.005429
Temp3pm          0.019714
RainToday        0.020000
dtype: float64

In [113]:
#找出分类型特征
cate = xtrain.columns[xtrain.dtypes == "object"].tolist()

In [114]:
cate = cate + ["Cloud9am", "Cloud3pm"]

In [116]:
cate #列表相加即是将其联合起来

['Climate',
 'WindGustDir',
 'WindDir9am',
 'WindDir3pm',
 'RainToday',
 'Cloud9am',
 'Cloud3pm']

In [120]:
from sklearn.impute import SimpleImputer
si = SimpleImputer(missing_values=np.nan, strategy="most_frequent")
si.fit(xtrain.loc[:, cate])#找出fit中的众数，在transform中填补

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='most_frequent', verbose=0)

In [118]:
xtrain.loc[:, cate] = si.transform(xtrain.loc[:, cate])
xtest.loc[:, cate] = si.transform(xtest.loc[:, cate])

In [121]:
xtrain.loc[:, cate].isnull().mean()

Climate        0.0
WindGustDir    0.0
WindDir9am     0.0
WindDir3pm     0.0
RainToday      0.0
Cloud9am       0.0
Cloud3pm       0.0
dtype: float64

### 将分类型变量编码

In [122]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder()
oe = oe.fit(xtrain.loc[:, cate])

xtrain.loc[:, cate] = oe.transform(xtrain.loc[:, cate])
xtest.loc[:, cate] = oe.transform(xtest.loc[:, cate])
xtrain.head()

,Unnamed: 0,Month,Climate,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,1809,8,1.0,17.5,36.0,0.0,8.8,NaN,2.0,26.0,...,15.0,57.0,NaN,1016.8,1012.2,0.0,7.0,27.5,NaN,0.0
1,4176,12,0.0,9.5,25.0,0.0,NaN,NaN,6.0,33.0,...,17.0,59.0,31.0,1020.4,1017.5,7.0,7.0,14.6,23.6,0.0
2,110,4,4.0,13.0,22.6,0.0,3.8,10.4,13.0,NaN,...,31.0,79.0,68.0,1020.3,1015.7,1.0,3.0,17.5,20.8,0.0
3,3582,11,4.0,13.9,29.8,0.0,5.8,5.1,8.0,37.0,...,28.0,82.0,44.0,1012.5,1005.9,6.0,6.0,18.5,27.5,0.0
4,2162,4,2.0,6.0,23.5,0.0,2.8,8.6,5.0,24.0,...,15.0,58.0,35.0,1019.8,1014.1,2.0,4.0,12.4,22.4,0.0

In [123]:
xtrain.head().loc[:, cate]

   Climate  WindGustDir  WindDir9am  WindDir3pm  RainToday  Cloud9am  Cloud3pm
0      1.0          2.0         6.0         0.0        0.0       0.0       7.0
1      0.0          6.0         4.0         6.0        0.0       7.0       7.0
2      4.0         13.0         4.0         0.0        0.0       1.0       3.0
3      4.0          8.0         3.0         8.0        0.0       6.0       6.0
4      2.0          5.0         0.0         6.0        0.0       2.0       4.0

### 填补连续型变量的缺失值

In [125]:
col = xtrain.columns.tolist()
for i in cate:
    col.remove(i)
col.remove("Unnamed: 0")

In [126]:
col

['Month',
 'MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindGustSpeed',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Temp9am',
 'Temp3pm']

In [128]:
si1 = SimpleImputer(missing_values=np.nan, strategy="mean")
si1 = si1.fit(xtrain.loc[:, col])

xtrain.loc[:, col] = si1.transform(xtrain.loc[:, col])
xtest.loc[:, col] = si1.transform(xtest.loc[:, col])

In [130]:
xtrain.isnull().mean()

Unnamed: 0       0.0
Month            0.0
Climate          0.0
MinTemp          0.0
MaxTemp          0.0
Rainfall         0.0
Evaporation      0.0
Sunshine         0.0
WindGustDir      0.0
WindGustSpeed    0.0
WindDir9am       0.0
WindDir3pm       0.0
WindSpeed9am     0.0
WindSpeed3pm     0.0
Humidity9am      0.0
Humidity3pm      0.0
Pressure9am      0.0
Pressure3pm      0.0
Cloud9am         0.0
Cloud3pm         0.0
Temp9am          0.0
Temp3pm          0.0
RainToday        0.0
dtype: float64

### 将连续型变量无量纲化

In [135]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
col.remove("Month")
col

['MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindGustSpeed',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Temp9am',
 'Temp3pm']

In [136]:
ss = ss.fit(xtrain.loc[:, col])
xtrain.loc[:, col] = ss.transform(xtrain.loc[:, col])
xtest.loc[:, col] = ss.transform(xtest.loc[:, col])

In [137]:
xtrain.head()

,Unnamed: 0,Month,Climate,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,1809,8.0,1.0,0.826375,1.774044,-0.314379,0.964367,0.000000,2.0,-1.085893e+00,...,-0.416443,-0.646283,0.000000,-0.122589,-0.453507,0.0,7.0,1.612270,0.000000,0.0
1,4176,12.0,0.0,-0.427048,0.244031,-0.314379,0.000000,0.000000,6.0,-5.373993e-01,...,-0.182051,-0.539186,-1.011310,0.414254,0.340522,7.0,7.0,-0.366608,0.270238,0.0
2,110,4.0,4.0,0.121324,-0.089790,-0.314379,-0.551534,1.062619,13.0,-1.113509e-15,...,1.458692,0.531786,0.800547,0.399342,0.070852,1.0,3.0,0.078256,-0.132031,0.0
3,3582,11.0,4.0,0.262334,0.911673,-0.314379,0.054826,-0.885225,8.0,-2.239744e-01,...,1.107105,0.692432,-0.374711,-0.763819,-1.397352,6.0,6.0,0.231658,0.830540,0.0
4,2162,4.0,2.0,-0.975421,0.035393,-0.314379,-0.854715,0.401087,5.0,-1.242605e+00,...,-0.416443,-0.592734,-0.815433,0.324780,-0.168855,2.0,4.0,-0.704091,0.097837,0.0

## 进行建模

In [138]:
from time import time
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import roc_auc_score, recall_score

In [139]:
time0 = time()
for kernel in ['linear', 'poly', 'rbf', 'sigmoid']:
    clf = SVC(kernel=kernel
             , gamma="auto"
             , degree=1
             , cache_size=5000).fit(xtrain, ytrain)
    result = clf.predict(xtest)
    score = clf.score(xtest, ytest)
    recall = recall_score(ytest, result)
    auc = roc_auc_score(ytest, clf.decision_function(xtest))
    print("%s 's testing accuracy %f, recall is %f, auc is %f" % (kernel, score, recall, auc))
    print(time() - time0)

C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

linear 's testing accuracy 0.834667, recall is 0.472303, auc is 0.853036
487.515394449234

C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

poly 's testing accuracy 0.840667, recall is 0.466472, auc is 0.869102
1088.87313580513

C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

rbf 's testing accuracy 0.772000, recall is 0.002915, auc is 0.629395
1096.8263635635376

C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

sigmoid 's testing accuracy 0.771333, recall is 0.000000, auc is 0.445259
1097.5407617092133